{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">

<h2>Your Cart</h2>

{% if items %}
<div class="cart-wrapper">

<table class="cart-table">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
        <th></th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>₹{{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.total_price }}</td>
        <td>
            <a href="{% url 'cart:remove_from_cart' item.id %}" class="remove-btn">
                Remove
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="total-box">
    Grand Total: ₹{{ total }}
</div>

</div>

{% else %}
<p class="empty-msg">🛒 Your cart is empty</p>
{% endif %}

{% endblock %}